:root {
  --color-main-white: #fff;

  --color-main-light: #fbfbfb;

  --color-main-medium: #414447;

  --color-main-dark: #27292c;

  --color-accent-main-active: #6ac5ab;

  --color-accent-main: #aca8ff;

  --color-accent-light: #fafafa;

  --color-accent-medium: #d2d6db;

  --color-accent-second: #9de5ff;

  --color-accent-second-active: #d5fdff;

  --color-main-separators: var(--color-main-medium);

  --color-event-card-bg: var(--color-accent-main-active);

  --color-social-button-background: #4285f4;

  --color-facebook-button: #1877f2;

  --color-vk-button: #5181b8;

  --font-weight-bold: 600;
  --font-weight-regular: 400;

  --font-size-large: 26px;
  --font-size-big: 18px;
  --font-size-medium: 14px;
  --font-size-small: 12px;
  --font-size-tiny: 8px;

  --border-radius-small: 5px;
  --border-radius-medium: 8px;
  --border-radius-big: 10px;

  --color-input-background: var(--color-main-white);
}

html,
body {
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
  overscroll-behavior: contain;
  padding: 0;
  margin: 0;
  position: relative;
}

.App {
  text-align: center;
  height: 100%;
}

.button {
  user-select: none;
}

#root {
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#canvas {
  width: 100%;
  height: 100%;
}

.tools {
  position: absolute;
  top: 10px;
  left: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
